body{
    background: rgba(105,105, 105,1);

}

.reloj{
    font-family: 'Share Tech Mono', monospace;
    color: black;
    font-size: 25px;
    text-shadow: 0 0 20px rgba(105,105, 105,1), 0 0 20px rgba(10,175, 230,0) ;
}
